In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import json

In [2]:
# read node information 
node_path = '../data/processed_data/node_information.csv'
node = pd.read_csv(node_path)

In [4]:
node.head()

   node_id   longitude   latitude  elevation  demand
0        1 -122.019001  37.814343     998.47     0.0
1        2 -122.018928  37.814268     996.08     0.0
2        3 -122.021310  37.817351     859.29     0.0
3        4 -122.021319  37.817339     859.29     0.0
4        5 -122.020071  37.816446     900.12     0.0

In [5]:
# read demand 
demand_path = '../data/EBMUD-DATA/ebmud_demand.geojson'
demand = gpd.read_file(demand_path)

In [8]:
demand.head()

,OBJECTID,OBJ_ID,COORD_NO_1,COORD_EA_1,ID_New,PZ,MM_2018_gp,ASD_2018_g,AWD_2018_g,AAD_2018_g,HX_PIPE,geometry
0,1,124668.0,2207007.042,6058094.429,232762RODEOCrockett Aqueduct,A0A,2932.413672,3005.966249,3090.113885,3141.383633,None,POINT (-122.24875 38.04316)
1,2,388537.0,2169405.652,6019891.334,275000RICHMONDCastro St,G0A1,2750.143026,2705.053616,2776.053519,2591.204475,None,POINT (-122.37876 37.93788)
2,3,12489.0,2211597.852,6065224.328,009318CROCKETTHighway 40,A0B,1268.422152,1249.929965,1054.593540,1172.101328,None,POINT (-122.22429 38.05613)
3,4,35459.0,2169328.434,6019860.118,236705RICHMONDCastro St,G0A1,638.579507,831.969310,780.101700,721.593392,None,POINT (-122.37886 37.93767)
4,5,296811.0,2146007.317,6054800.240,304920BERKELEYBancroft Way,A5A,501.362730,510.172680,423.518779,474.730692,None,POINT (-122.25621 37.87550)

In [14]:
demand_lon = []
demand_lat = []

for geom in demand['geometry']:
    demand_lon.append(geom.x)
    demand_lat.append(geom.y)

In [16]:
demand['longitude'] = demand_lon
demand['latitude'] = demand_lat

In [18]:
valid_column = ['OBJECTID','longitude','latitude','MM_2018_gp']

In [24]:
demand_clean = demand[valid_column]
demand_clean.head()

   OBJECTID   longitude   latitude   MM_2018_gp
0         1 -122.248750  38.043159  2932.413672
1         2 -122.378762  37.937884  2750.143026
2         3 -122.224289  38.056127  1268.422152
3         4 -122.378865  37.937670   638.579507
4         5 -122.256212  37.875499   501.362730

In [23]:
demand_nodes_path = '../data/processed_data/demand_nodes.csv'
demand_clean.to_csv(demand_nodes_path,index=False)

In [25]:
demand_id_map_path ='../data/processed_data/demand_on_nodes.csv'
demand_id_map = pd.read_csv(demand_id_map_path)

In [27]:
node_ids = list(demand_id_map['pipe_node_id'])
demand_clean['node_id'] = node_ids

/home/rewu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [34]:
mapped_demand = demand_clean.groupby(['node_id'], as_index=False).agg('sum')

In [39]:
valid_columns = ['node_id','MM_2018_gp']
mapped_demand = mapped_demand[valid_columns]

In [44]:
node_with_demand = mapped_demand.merge(node,on = 'node_id',how='inner')

In [45]:
node_with_demand.head()

   node_id  MM_2018_gp   longitude   latitude  elevation  demand
0        6    1.064487 -122.019911  37.816474     899.30     0.0
1        8    0.612886 -122.019041  37.814389     995.17     0.0
2       11    0.193543 -122.016216  37.813314     926.86     0.0
3       16    1.999944 -122.019909  37.814378    1036.99     0.0
4       20    1.161258 -122.020507  37.816163     915.42     0.0

In [48]:
node_save_path = '../data/processed_data/node_information_ebmud_demand.csv'
node_with_demand.to_csv(node_save_path,index=False)

In [47]:
node_with_demand['MM_2018_gp'].sum(

151149.3632702013