In [1]:
import json
import pandas as pd
import geocoder
import numpy as np

# Add UID to Pipes data

In [2]:
ebmud_pipes_path = '../data/EBMUD-DATA/pipeline_data.geojson'
with open(ebmud_pipes_path, "r") as read_file:
    ebmud_pipe_data = json.load(read_file, strict=False)
pipes = ebmud_pipe_data['features']

In [3]:
for i, p in enumerate(pipes):
    p['properties']['pipe_id']= i
    
# for p,age in zip(pipes,ages):
#     p['properties']['age']= age

In [4]:
data_final = ebmud_pipe_data.copy()
data_final['features'] = pipes

In [5]:
output_filename = '../data/processed_data/EBMUD_pipe_network.json'
json.dump(data_final, open(output_filename, 'w'))

# Parse pipe information

In [6]:
from src.pipes2nodes import *

In [7]:
def parse_roughness(p):
    try:
        C = int(p['properties']['ROUGHNESS'])
        if C == 0:
            C = 100
    except:
        C = 130
    return C

In [8]:
pipe_ids = []
node1_list = []
node2_list = []
node_registry = NodeRegistry()

lengths = []
diameters = []
materials = []
ages = []
C = []

In [9]:
for p in pipes:
    if active:
        node1,node2 = parse_pipe_nodes(p,node_registry)
        node1_list.append(node1)
        node2_list.append(node2)

        pipe_ids.append(parse_pipe_id(p)) 
        lengths.append(parse_pipe_length(p))
        diameters.append(parse_pipe_diameter(p))
        materials.append(parse_pipe_material(p))
        ages.append(parse_pipe_age(p))
        C.append(parse_roughness(p))
    else:
        print (p)

In [10]:
df_dict  = {'pipe_id': pipe_ids,
           'node1':node1_list,
           'node2':node2_list,
           'length':lengths,
           'material':materials,
           'diameter': diameters,
           'age': ages,
           'C':C}
df_pipes = pd.DataFrame.from_dict(df_dict)
df_pipes.head()

   pipe_id  node1  node2     length material  diameter   age    C
0        0      1      2  34.586882        A       6.0  47.0  130
1        1      3      4   5.085738        S       6.0  33.0  130
2        2      5      6  47.460385        S       1.0  60.0   80
3        3      7      8   4.558327        A       6.0  47.0  130
4        4      9     10  14.561382        S      12.0  58.0  130

In [11]:
save_path = '../data/processed_data/pipe_information.csv'
df_pipes.to_csv(save_path,index=False)

# Get Node information

In [12]:
nids = []
nlat = []
nlong = []

for coord, nid in node_registry.nodes.items():
    nids.append(nid)
    nlat.append(coord[1])
    nlong.append(coord[0])

In [13]:
node_dict  = {'node_id': nids,
              'longitude':nlong,
           'latitude':nlat}
df_nodes = pd.DataFrame.from_dict(node_dict)
print (len(df_nodes))
df_nodes.head()

181595

   node_id   longitude   latitude
0        1 -122.019001  37.814343
1        2 -122.018928  37.814268
2        3 -122.021310  37.817351
3        4 -122.021319  37.817339
4        5 -122.020071  37.816446

In [14]:
save_path = '../data/processed_data/node_information.csv'
df_nodes.to_csv(save_path,index=False)